html {
	scroll-behavior: smooth;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

header {
	background: #333;
	color: #fff;
	padding: 15px;
	text-align: center;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav ul li {
	display: inline;
	margin: 0 15px;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

nav ul li a:focus {
	outline: 2px solid gold;
	background: #444;
}

.animated-text span {
	display: inline-block;
	transition: transform 0.3s ease-in-out, color 0.3s;
}

.animated-text:hover span {
	transform: translateY(-5px);
	color: gold;
}

section {
	padding: 20px;
	text-align: center;
}

.article {
	background-color: rgb(219, 218, 215);
	border-left-width: 4px;
	border-left-color: #444;
	border-left-style: solid;
	text-align: justify;
    line-height: 1.6;    
    text-justify: inter-word;
    max-width: 700px; 
	padding: 5px auto;  
    margin: 0 auto;          
    font-size: 14px;
}

#project-title {
	text-align: center;
}

#project-section {
	width: 90%;
	max-width: 600px;
	justify-content: center;
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;
	padding: 40px 0;
	margin: 0 auto;
	gap: 20px;
}

.projects {
	display: flex;
	overflow-x: auto;
	scroll-behavior: smooth;
	gap: 20px;
	align-items: center;
    scrollbar-width: none; /* Pour Firefox */
    -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
}

.projects::-webkit-scrollbar {
    display: none; /* Pour Chrome, Safari et Opera */
}

.card {
	width: 300px;
	height: 250px;
	background: #eee;
	border: 3px solid black;
	padding: 15px;
	text-align: center;
	border-radius: 10px;
	transition: all 0.4s ease;
	filter: blur(2px);
	opacity: 0.5;
	transform: scale(0.9);
	flex-shrink: 0;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card a {
    display: inline-block;
    margin-top: auto; /* Force le bouton en bas */
    background-color: #333;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background 0.3s;
}

.card a:hover {
    background-color: beige;
    color: black;
}

.card.active {
	min-width: 320px;
	height: 300px;
	filter: none;
	opacity: 1;
	transform: scale(1.0);
	z-index: 1;
}

.arrow {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow img {
    width: 36px;
    height: 36px;
	object-fit: contain;
    transition: transform 0.2s ease;
}

.arrow:hover img {
    transform: scale(1.5);
    filter: brightness(1) invert(0); /* change la couleur au survol */
}
