html {
	scroll-behavior: smooth;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

header {
	background: #333;
	color: #fff;
	padding: 15px;
	text-align: center;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav ul li {
	display: inline;
	margin: 0 15px;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

.animated-text span {
	display: inline-block;
	transition: transform 0.3s ease-in-out;
}

.animated-text:hover span {
	transform: translateY(-10px); /*Deplace chaque lettre vers le haut*/
}

section {
	padding: 20px;
	text-align: center;
}

.projects {
	display: flex;
	overflow-x: auto;
	gap: 16px;
	scroll-snap-type: x mandatory;
}

.card {
	max-width: 250px;
	min-height: 350px;
	background: #2a2a2a;
	padding: 20px;
	border-radius: 16px;
	flex-shrink: 0;
	scroll-snap-align: start;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	border: 1px solid black;
}
